@media(max-width: 1024px){
    .menu{
        display: none;
    }

    .menu-mobile img {
        width: 150px;
        
    }
    
    .menu-mobile {padding: 20px;}

    .mobile-only {
        display: block;
        background: #009900;
    }

    .publicidade-imagem {
        margin-bottom: 10px;
    }

    .noticia-principal {
        position: relative;
        margin-bottom: 20px;
    }

    .redes-sociais {
        justify-content: center;
        margin-bottom: 20px;
    }

    .publicidades-lateral {
        position: relative;
    }

    .mais-noticia {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .mais-noticia-imagem {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .mais-noticia-imagem img{
        width: 100%;
        object-fit: cover;

    }

    .mais-noticia-texto span.info-noticia {
        margin-top: 20px;
    }

    #form-newsletter input {
        margin-bottom: 20px;
    }

    #form-newsletter {
        flex-direction: column;
    }

    .footer-lista {
        margin-bottom: 20px;
    }

    .footer-logo {
        text-align: center;
        /* width: 100%; */
        margin-bottom: 50px;
    }


    .footer-bottom {
        text-align: center;
    }
    /*==== MENU ====*/

    .MenuChefOpen, .MenuChef-close {
        background: #009900 !important;
        border-radius: 8px !important;
    }
    
    .hamburger-box {
        width: 33px !important;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 33px !important;
        height: 2px !important;
        background-color: #fff !important;
    }

    .hamburger {
        padding: 10px 10px 5px !important;
    }

    .hamburger-inner {
        margin-top: 0px !important;
    }

    .MenuChefOpen--dir--right, .MenuChefOpen, .MenuChef-close {
        top: 30px !important;
    }

    .MenuChef[data-scheme=black] {
        background-color: #009900 !important;
        background-color: var(--MenuChef-scheme-bgcolor, #009900) !important;
    }

    .MenuChef[data-scheme=black] .MenuChef-links-link {
        color: #fff !important;
        color: var(--MenuChef-scheme-color, #fff) !important;
    }

    .menu {
        width: unset;
    }

    .MenuChefOpen, .MenuChef-close{
        display: block !important;
    }
 

}

@media(max-width: 900px){

    #modal-informativo.modal {
        height: 240px;
        width: 370px;
    }

}
